@charset "UTF-8";
[data-checkbox-theme] {
  visibility: hidden;
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 0 !important;
  vertical-align: sub;
}
[data-checkbox-theme]:before, [data-checkbox-theme]:after {
  visibility: visible;
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
[data-checkbox-theme]:before {
  background-color: white;
  border: 1px solid lightgrey;
}
[data-checkbox-theme]:after {
  transition: 0.3s all ease;
}
[data-checkbox-theme]:checked:after {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

[data-checkbox-theme=mark-default]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-default]:after {
  opacity: 0;
  color: #4a4a4a;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-default]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-default]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-default]:checked:before {
  border-color: #4a4a4a;
}
[data-checkbox-theme=mark-default]:hover:not(:checked):before, [data-checkbox-theme=mark-default][name=example_active]:before {
  border-color: #a5a5a5;
}

[data-checkbox-theme=mark-danger-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-danger-color]:after {
  opacity: 0;
  color: #ff4444;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-danger-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-danger-color]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-danger-color]:checked:before {
  border-color: #ff4444;
}
[data-checkbox-theme=mark-danger-color]:hover:not(:checked):before, [data-checkbox-theme=mark-danger-color][name=example_active]:before {
  border-color: #ffa2a2;
}

[data-checkbox-theme=mark-danger-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-danger-color-dark]:after {
  opacity: 0;
  color: #CC0000;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-danger-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-danger-color-dark]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-danger-color-dark]:checked:before {
  border-color: #CC0000;
}
[data-checkbox-theme=mark-danger-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark-danger-color-dark][name=example_active]:before {
  border-color: #e68080;
}

[data-checkbox-theme=mark-warning-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-warning-color]:after {
  opacity: 0;
  color: #ffbb33;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-warning-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-warning-color]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-warning-color]:checked:before {
  border-color: #ffbb33;
}
[data-checkbox-theme=mark-warning-color]:hover:not(:checked):before, [data-checkbox-theme=mark-warning-color][name=example_active]:before {
  border-color: #ffdd99;
}

[data-checkbox-theme=mark-warning-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-warning-color-dark]:after {
  opacity: 0;
  color: #FF8800;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-warning-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-warning-color-dark]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-warning-color-dark]:checked:before {
  border-color: #FF8800;
}
[data-checkbox-theme=mark-warning-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark-warning-color-dark][name=example_active]:before {
  border-color: #ffc480;
}

[data-checkbox-theme=mark-success-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-success-color]:after {
  opacity: 0;
  color: #00C851;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-success-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-success-color]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-success-color]:checked:before {
  border-color: #00C851;
}
[data-checkbox-theme=mark-success-color]:hover:not(:checked):before, [data-checkbox-theme=mark-success-color][name=example_active]:before {
  border-color: #80e4a8;
}

[data-checkbox-theme=mark-success-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-success-color-dark]:after {
  opacity: 0;
  color: #007E33;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-success-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-success-color-dark]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-success-color-dark]:checked:before {
  border-color: #007E33;
}
[data-checkbox-theme=mark-success-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark-success-color-dark][name=example_active]:before {
  border-color: #80bf99;
}

[data-checkbox-theme=mark-info-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-info-color]:after {
  opacity: 0;
  color: #33b5e5;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-info-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-info-color]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-info-color]:checked:before {
  border-color: #33b5e5;
}
[data-checkbox-theme=mark-info-color]:hover:not(:checked):before, [data-checkbox-theme=mark-info-color][name=example_active]:before {
  border-color: #99daf2;
}

[data-checkbox-theme=mark-info-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-info-color-dark]:after {
  opacity: 0;
  color: #0099CC;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-info-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-info-color-dark]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-info-color-dark]:checked:before {
  border-color: #0099CC;
}
[data-checkbox-theme=mark-info-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark-info-color-dark][name=example_active]:before {
  border-color: #80cce6;
}

[data-checkbox-theme=mark-turquoise-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-turquoise-color]:after {
  opacity: 0;
  color: #2BBBAD;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-turquoise-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-turquoise-color]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-turquoise-color]:checked:before {
  border-color: #2BBBAD;
}
[data-checkbox-theme=mark-turquoise-color]:hover:not(:checked):before, [data-checkbox-theme=mark-turquoise-color][name=example_active]:before {
  border-color: #95ddd6;
}

[data-checkbox-theme=mark-turquoise-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-turquoise-color-dark]:after {
  opacity: 0;
  color: #00695c;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-turquoise-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-turquoise-color-dark]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-turquoise-color-dark]:checked:before {
  border-color: #00695c;
}
[data-checkbox-theme=mark-turquoise-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark-turquoise-color-dark][name=example_active]:before {
  border-color: #80b4ae;
}

[data-checkbox-theme=mark-primary-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-primary-color]:after {
  opacity: 0;
  color: #4285F4;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-primary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-primary-color]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-primary-color]:checked:before {
  border-color: #4285F4;
}
[data-checkbox-theme=mark-primary-color]:hover:not(:checked):before, [data-checkbox-theme=mark-primary-color][name=example_active]:before {
  border-color: #a1c2fa;
}

[data-checkbox-theme=mark-primary-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-primary-color-dark]:after {
  opacity: 0;
  color: #0d47a1;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-primary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-primary-color-dark]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-primary-color-dark]:checked:before {
  border-color: #0d47a1;
}
[data-checkbox-theme=mark-primary-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark-primary-color-dark][name=example_active]:before {
  border-color: #86a3d0;
}

[data-checkbox-theme=mark-secondary-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-secondary-color]:after {
  opacity: 0;
  color: #aa66cc;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-secondary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-secondary-color]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-secondary-color]:checked:before {
  border-color: #aa66cc;
}
[data-checkbox-theme=mark-secondary-color]:hover:not(:checked):before, [data-checkbox-theme=mark-secondary-color][name=example_active]:before {
  border-color: #d5b3e6;
}

[data-checkbox-theme=mark-secondary-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark-secondary-color-dark]:after {
  opacity: 0;
  color: #9933CC;
  transform: translateY(-15px);
}
[data-checkbox-theme=mark-secondary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark-secondary-color-dark]:checked:after {
  content: "✔";
  transform: translateY(0px);
  opacity: 1;
}
[data-checkbox-theme=mark-secondary-color-dark]:checked:before {
  border-color: #9933CC;
}
[data-checkbox-theme=mark-secondary-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark-secondary-color-dark][name=example_active]:before {
  border-color: #cc99e6;
}

[data-checkbox-theme=mark2-default]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-default]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-default]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-default]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #4a4a4a;
  border-right: 1px solid #4a4a4a;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-default]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-default]:hover:not(:checked):before, [data-checkbox-theme=mark2-default][name=example_active]:before {
  border-color: #a5a5a5;
}

[data-checkbox-theme=mark2-danger-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-danger-color]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-danger-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-danger-color]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #ff4444;
  border-right: 1px solid #ff4444;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-danger-color]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-danger-color]:hover:not(:checked):before, [data-checkbox-theme=mark2-danger-color][name=example_active]:before {
  border-color: #ffa2a2;
}

[data-checkbox-theme=mark2-danger-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-danger-color-dark]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-danger-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-danger-color-dark]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #CC0000;
  border-right: 1px solid #CC0000;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-danger-color-dark]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-danger-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark2-danger-color-dark][name=example_active]:before {
  border-color: #e68080;
}

[data-checkbox-theme=mark2-warning-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-warning-color]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-warning-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-warning-color]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #ffbb33;
  border-right: 1px solid #ffbb33;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-warning-color]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-warning-color]:hover:not(:checked):before, [data-checkbox-theme=mark2-warning-color][name=example_active]:before {
  border-color: #ffdd99;
}

[data-checkbox-theme=mark2-warning-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-warning-color-dark]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-warning-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-warning-color-dark]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #FF8800;
  border-right: 1px solid #FF8800;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-warning-color-dark]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-warning-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark2-warning-color-dark][name=example_active]:before {
  border-color: #ffc480;
}

[data-checkbox-theme=mark2-success-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-success-color]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-success-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-success-color]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #00C851;
  border-right: 1px solid #00C851;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-success-color]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-success-color]:hover:not(:checked):before, [data-checkbox-theme=mark2-success-color][name=example_active]:before {
  border-color: #80e4a8;
}

[data-checkbox-theme=mark2-success-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-success-color-dark]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-success-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-success-color-dark]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #007E33;
  border-right: 1px solid #007E33;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-success-color-dark]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-success-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark2-success-color-dark][name=example_active]:before {
  border-color: #80bf99;
}

[data-checkbox-theme=mark2-info-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-info-color]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-info-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-info-color]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #33b5e5;
  border-right: 1px solid #33b5e5;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-info-color]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-info-color]:hover:not(:checked):before, [data-checkbox-theme=mark2-info-color][name=example_active]:before {
  border-color: #99daf2;
}

[data-checkbox-theme=mark2-info-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-info-color-dark]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-info-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-info-color-dark]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #0099CC;
  border-right: 1px solid #0099CC;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-info-color-dark]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-info-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark2-info-color-dark][name=example_active]:before {
  border-color: #80cce6;
}

[data-checkbox-theme=mark2-turquoise-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-turquoise-color]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-turquoise-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-turquoise-color]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #2BBBAD;
  border-right: 1px solid #2BBBAD;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-turquoise-color]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-turquoise-color]:hover:not(:checked):before, [data-checkbox-theme=mark2-turquoise-color][name=example_active]:before {
  border-color: #95ddd6;
}

[data-checkbox-theme=mark2-turquoise-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-turquoise-color-dark]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-turquoise-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-turquoise-color-dark]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #00695c;
  border-right: 1px solid #00695c;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-turquoise-color-dark]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-turquoise-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark2-turquoise-color-dark][name=example_active]:before {
  border-color: #80b4ae;
}

[data-checkbox-theme=mark2-primary-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-primary-color]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-primary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-primary-color]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #4285F4;
  border-right: 1px solid #4285F4;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-primary-color]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-primary-color]:hover:not(:checked):before, [data-checkbox-theme=mark2-primary-color][name=example_active]:before {
  border-color: #a1c2fa;
}

[data-checkbox-theme=mark2-primary-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-primary-color-dark]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-primary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-primary-color-dark]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #0d47a1;
  border-right: 1px solid #0d47a1;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-primary-color-dark]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-primary-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark2-primary-color-dark][name=example_active]:before {
  border-color: #86a3d0;
}

[data-checkbox-theme=mark2-secondary-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-secondary-color]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-secondary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-secondary-color]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #aa66cc;
  border-right: 1px solid #aa66cc;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-secondary-color]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-secondary-color]:hover:not(:checked):before, [data-checkbox-theme=mark2-secondary-color][name=example_active]:before {
  border-color: #d5b3e6;
}

[data-checkbox-theme=mark2-secondary-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=mark2-secondary-color-dark]:after {
  opacity: 0;
  transform: rotate(0deg) translate(0px, 0px);
}
[data-checkbox-theme=mark2-secondary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=mark2-secondary-color-dark]:checked:after {
  opacity: 1;
  width: 11px;
  height: 21px;
  border-bottom: 1px solid #9933CC;
  border-right: 1px solid #9933CC;
  transform: rotate(39deg) translate(1px, -6px);
}
[data-checkbox-theme=mark2-secondary-color-dark]:checked:before {
  border-color: transparent;
}
[data-checkbox-theme=mark2-secondary-color-dark]:hover:not(:checked):before, [data-checkbox-theme=mark2-secondary-color-dark][name=example_active]:before {
  border-color: #cc99e6;
}

[data-checkbox-theme=square-default]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-default]:after {
  opacity: 0;
}
[data-checkbox-theme=square-default]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-default]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #4a4a4a;
}
[data-checkbox-theme=square-default]:checked:before {
  border-color: #4a4a4a;
}
[data-checkbox-theme=square-default]:hover:not(:checked):before, [data-checkbox-theme=square-default][name=example_active]:before {
  border-color: #a5a5a5;
}

[data-checkbox-theme=square-danger-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-danger-color]:after {
  opacity: 0;
}
[data-checkbox-theme=square-danger-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-danger-color]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #ff4444;
}
[data-checkbox-theme=square-danger-color]:checked:before {
  border-color: #ff4444;
}
[data-checkbox-theme=square-danger-color]:hover:not(:checked):before, [data-checkbox-theme=square-danger-color][name=example_active]:before {
  border-color: #ffa2a2;
}

[data-checkbox-theme=square-danger-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-danger-color-dark]:after {
  opacity: 0;
}
[data-checkbox-theme=square-danger-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-danger-color-dark]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #CC0000;
}
[data-checkbox-theme=square-danger-color-dark]:checked:before {
  border-color: #CC0000;
}
[data-checkbox-theme=square-danger-color-dark]:hover:not(:checked):before, [data-checkbox-theme=square-danger-color-dark][name=example_active]:before {
  border-color: #e68080;
}

[data-checkbox-theme=square-warning-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-warning-color]:after {
  opacity: 0;
}
[data-checkbox-theme=square-warning-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-warning-color]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #ffbb33;
}
[data-checkbox-theme=square-warning-color]:checked:before {
  border-color: #ffbb33;
}
[data-checkbox-theme=square-warning-color]:hover:not(:checked):before, [data-checkbox-theme=square-warning-color][name=example_active]:before {
  border-color: #ffdd99;
}

[data-checkbox-theme=square-warning-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-warning-color-dark]:after {
  opacity: 0;
}
[data-checkbox-theme=square-warning-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-warning-color-dark]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #FF8800;
}
[data-checkbox-theme=square-warning-color-dark]:checked:before {
  border-color: #FF8800;
}
[data-checkbox-theme=square-warning-color-dark]:hover:not(:checked):before, [data-checkbox-theme=square-warning-color-dark][name=example_active]:before {
  border-color: #ffc480;
}

[data-checkbox-theme=square-success-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-success-color]:after {
  opacity: 0;
}
[data-checkbox-theme=square-success-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-success-color]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #00C851;
}
[data-checkbox-theme=square-success-color]:checked:before {
  border-color: #00C851;
}
[data-checkbox-theme=square-success-color]:hover:not(:checked):before, [data-checkbox-theme=square-success-color][name=example_active]:before {
  border-color: #80e4a8;
}

[data-checkbox-theme=square-success-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-success-color-dark]:after {
  opacity: 0;
}
[data-checkbox-theme=square-success-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-success-color-dark]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #007E33;
}
[data-checkbox-theme=square-success-color-dark]:checked:before {
  border-color: #007E33;
}
[data-checkbox-theme=square-success-color-dark]:hover:not(:checked):before, [data-checkbox-theme=square-success-color-dark][name=example_active]:before {
  border-color: #80bf99;
}

[data-checkbox-theme=square-info-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-info-color]:after {
  opacity: 0;
}
[data-checkbox-theme=square-info-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-info-color]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #33b5e5;
}
[data-checkbox-theme=square-info-color]:checked:before {
  border-color: #33b5e5;
}
[data-checkbox-theme=square-info-color]:hover:not(:checked):before, [data-checkbox-theme=square-info-color][name=example_active]:before {
  border-color: #99daf2;
}

[data-checkbox-theme=square-info-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-info-color-dark]:after {
  opacity: 0;
}
[data-checkbox-theme=square-info-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-info-color-dark]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #0099CC;
}
[data-checkbox-theme=square-info-color-dark]:checked:before {
  border-color: #0099CC;
}
[data-checkbox-theme=square-info-color-dark]:hover:not(:checked):before, [data-checkbox-theme=square-info-color-dark][name=example_active]:before {
  border-color: #80cce6;
}

[data-checkbox-theme=square-turquoise-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-turquoise-color]:after {
  opacity: 0;
}
[data-checkbox-theme=square-turquoise-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-turquoise-color]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #2BBBAD;
}
[data-checkbox-theme=square-turquoise-color]:checked:before {
  border-color: #2BBBAD;
}
[data-checkbox-theme=square-turquoise-color]:hover:not(:checked):before, [data-checkbox-theme=square-turquoise-color][name=example_active]:before {
  border-color: #95ddd6;
}

[data-checkbox-theme=square-turquoise-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-turquoise-color-dark]:after {
  opacity: 0;
}
[data-checkbox-theme=square-turquoise-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-turquoise-color-dark]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #00695c;
}
[data-checkbox-theme=square-turquoise-color-dark]:checked:before {
  border-color: #00695c;
}
[data-checkbox-theme=square-turquoise-color-dark]:hover:not(:checked):before, [data-checkbox-theme=square-turquoise-color-dark][name=example_active]:before {
  border-color: #80b4ae;
}

[data-checkbox-theme=square-primary-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-primary-color]:after {
  opacity: 0;
}
[data-checkbox-theme=square-primary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-primary-color]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #4285F4;
}
[data-checkbox-theme=square-primary-color]:checked:before {
  border-color: #4285F4;
}
[data-checkbox-theme=square-primary-color]:hover:not(:checked):before, [data-checkbox-theme=square-primary-color][name=example_active]:before {
  border-color: #a1c2fa;
}

[data-checkbox-theme=square-primary-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-primary-color-dark]:after {
  opacity: 0;
}
[data-checkbox-theme=square-primary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-primary-color-dark]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #0d47a1;
}
[data-checkbox-theme=square-primary-color-dark]:checked:before {
  border-color: #0d47a1;
}
[data-checkbox-theme=square-primary-color-dark]:hover:not(:checked):before, [data-checkbox-theme=square-primary-color-dark][name=example_active]:before {
  border-color: #86a3d0;
}

[data-checkbox-theme=square-secondary-color]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-secondary-color]:after {
  opacity: 0;
}
[data-checkbox-theme=square-secondary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-secondary-color]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #aa66cc;
}
[data-checkbox-theme=square-secondary-color]:checked:before {
  border-color: #aa66cc;
}
[data-checkbox-theme=square-secondary-color]:hover:not(:checked):before, [data-checkbox-theme=square-secondary-color][name=example_active]:before {
  border-color: #d5b3e6;
}

[data-checkbox-theme=square-secondary-color-dark]:before {
  transition: 0.3s ease all;
}
[data-checkbox-theme=square-secondary-color-dark]:after {
  opacity: 0;
}
[data-checkbox-theme=square-secondary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=square-secondary-color-dark]:checked:after {
  content: " ";
  margin: 5px;
  opacity: 1;
  background-color: #9933CC;
}
[data-checkbox-theme=square-secondary-color-dark]:checked:before {
  border-color: #9933CC;
}
[data-checkbox-theme=square-secondary-color-dark]:hover:not(:checked):before, [data-checkbox-theme=square-secondary-color-dark][name=example_active]:before {
  border-color: #cc99e6;
}

[data-checkbox-theme=switcher-default] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-default]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-default]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-default]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-default]:checked:after {
  left: 20px;
  background-color: #4a4a4a;
}
[data-checkbox-theme=switcher-default]:checked:before {
  background-color: #c9c9c9;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-danger-color] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-danger-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-danger-color]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-danger-color]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-danger-color]:checked:after {
  left: 20px;
  background-color: #ff4444;
}
[data-checkbox-theme=switcher-danger-color]:checked:before {
  background-color: #ffc7c7;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-danger-color-dark] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-danger-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-danger-color-dark]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-danger-color-dark]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-danger-color-dark]:checked:after {
  left: 20px;
  background-color: #CC0000;
}
[data-checkbox-theme=switcher-danger-color-dark]:checked:before {
  background-color: #f0b3b3;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-warning-color] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-warning-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-warning-color]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-warning-color]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-warning-color]:checked:after {
  left: 20px;
  background-color: #ffbb33;
}
[data-checkbox-theme=switcher-warning-color]:checked:before {
  background-color: #ffebc2;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-warning-color-dark] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-warning-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-warning-color-dark]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-warning-color-dark]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-warning-color-dark]:checked:after {
  left: 20px;
  background-color: #FF8800;
}
[data-checkbox-theme=switcher-warning-color-dark]:checked:before {
  background-color: #ffdbb3;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-success-color] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-success-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-success-color]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-success-color]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-success-color]:checked:after {
  left: 20px;
  background-color: #00C851;
}
[data-checkbox-theme=switcher-success-color]:checked:before {
  background-color: #b3efcb;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-success-color-dark] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-success-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-success-color-dark]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-success-color-dark]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-success-color-dark]:checked:after {
  left: 20px;
  background-color: #007E33;
}
[data-checkbox-theme=switcher-success-color-dark]:checked:before {
  background-color: #b3d8c2;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-info-color] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-info-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-info-color]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-info-color]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-info-color]:checked:after {
  left: 20px;
  background-color: #33b5e5;
}
[data-checkbox-theme=switcher-info-color]:checked:before {
  background-color: #c2e9f7;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-info-color-dark] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-info-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-info-color-dark]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-info-color-dark]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-info-color-dark]:checked:after {
  left: 20px;
  background-color: #0099CC;
}
[data-checkbox-theme=switcher-info-color-dark]:checked:before {
  background-color: #b3e0f0;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-turquoise-color] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-turquoise-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-turquoise-color]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-turquoise-color]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-turquoise-color]:checked:after {
  left: 20px;
  background-color: #2BBBAD;
}
[data-checkbox-theme=switcher-turquoise-color]:checked:before {
  background-color: #bfebe6;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-turquoise-color-dark] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-turquoise-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-turquoise-color-dark]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-turquoise-color-dark]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-turquoise-color-dark]:checked:after {
  left: 20px;
  background-color: #00695c;
}
[data-checkbox-theme=switcher-turquoise-color-dark]:checked:before {
  background-color: #b3d2ce;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-primary-color] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-primary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-primary-color]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-primary-color]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-primary-color]:checked:after {
  left: 20px;
  background-color: #4285F4;
}
[data-checkbox-theme=switcher-primary-color]:checked:before {
  background-color: #c6dafc;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-primary-color-dark] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-primary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-primary-color-dark]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-primary-color-dark]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-primary-color-dark]:checked:after {
  left: 20px;
  background-color: #0d47a1;
}
[data-checkbox-theme=switcher-primary-color-dark]:checked:before {
  background-color: #b6c8e3;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-secondary-color] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-secondary-color]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-secondary-color]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-secondary-color]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-secondary-color]:checked:after {
  left: 20px;
  background-color: #aa66cc;
}
[data-checkbox-theme=switcher-secondary-color]:checked:before {
  background-color: #e6d1f0;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

[data-checkbox-theme=switcher-secondary-color-dark] {
  width: 40px;
  height: 16px;
  margin: 4px !important;
  vertical-align: bottom;
}
[data-checkbox-theme=switcher-secondary-color-dark]:disabled {
  opacity: 0.5;
}
[data-checkbox-theme=switcher-secondary-color-dark]:before {
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
}
[data-checkbox-theme=switcher-secondary-color-dark]:after {
  background-color: white;
  width: 24px;
  height: 24px;
  top: -4px;
  left: -4px;
  content: " ";
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
[data-checkbox-theme=switcher-secondary-color-dark]:checked:after {
  left: 20px;
  background-color: #9933CC;
}
[data-checkbox-theme=switcher-secondary-color-dark]:checked:before {
  background-color: #e0c2f0;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=checkbox-theme.css.map */
